<div class="links">
  <div class="container links__container">
    <h2 class="visually-hidden">Я для семантики</h2>
    <ul class="links__list">
      <li class="links__item">
        <a class="links__link" href="index.html" aria-label="Ссылка на гавную страницу">Главная</a>
      </li>
      <li class="links__item">
        <a class="links__link" href="catalog.html" aria-label="Ссылка на каталог">Каталог</a>
      </li>
      <li class="links__item">
        <a class="links__link" href="#" aria-label="Ссылка на диваны">Диваны</a>
      </li>
      <li class="links__item">
        <a class="links__link" href="#" aria-label="Ссылка на прямые диваны">Прямые диваны</a>
      </li>
      <li class="links__item">
        <a class="links__link active-link" href="d-31.html" aria-label="Ссылка на d-31">D-31</a>
      </li>
    </ul>
  </div>
</div>

<section class="d-31">
  <div class="container d-31__container">
    <div class="d-31__top">
      <button class="d-31__top-btn-img modalBtn-js" data-modal-trigger="trigger-1" aria-label="лупа">
      </button>
      <div class="d-31__top-swiper swiper d-31__top-swiper_mySwiper2 mySwiper2">
        <ul class="swiper-wrapper d-31__top-list">
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа-->
            <img class="d-31__top-img" src="./img/d31-1920px-1.png" alt="Модал img">
            <!-- Для codepen
            <img src="https://swiperjs.com/demos/images/nature-1.jpg"  alt="фото с передней стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа-->
            <img class="d-31__top-img" src="./img/d31-divan-2lupa.png" alt="фото с передней стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-2.jpg"  alt="фото с передней стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-3lupa.png" alt="фото с боковой стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-3.jpg" alt="фото с боковой стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-4lupa.png" alt="фото с задней стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-4.jpg" alt="фото с задней стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-5lupa.png" alt="фото с раскладного вида дивана">
            <!-- Для codepen 
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-5.jpg" alt="фото с раскладного вида дивана">-->
          </li>
        </ul>
        <!-- <div class="d-31__top-button d-31__top-button_next swiper-button-next"></div>
        <div class="d-31__top-button d-31__top-button_prev swiper-button-prev"></div> -->
      </div>
      <div class="d-31__top-modal modal" data-modal="trigger-1">
        <div class="d-31__top-modal-divanWidth modal-wrap">
          <div class="d-31__top-modal-container-product modal-container">
            <button class="d-31__top-modal-close modal-close" title="Закрыть">&#10006;</button>
            <div class="d-31__top-swiperblock">
              <div class="d-31__top-swiper swiper d-31__top-swiper_mySwiper4 mySwiper4">
                <ul class="swiper-wrapper d-31__top-list">
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-1920px-1.png" alt="Модал img">
                    <!-- Для codepen
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg"  alt="фото с передней стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-2lupa.png" alt="фото с передней стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-2.jpg"  alt="фото с передней стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-3lupa.png" alt="фото с боковой стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-3.jpg" alt="фото с боковой стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-4lupa.png" alt="фото с задней стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-4.jpg" alt="фото с задней стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-5lupa.png" alt="фото с раскладного вида дивана">
                    <!-- Для codepen 
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-5.jpg" alt="фото с раскладного вида дивана">-->
                  </li>
                </ul>
                <!-- <div class="d-31__top-button d-31__top-button_next swiper-button-next"></div>
                <div class="d-31__top-button d-31__top-button_prev swiper-button-prev"></div> -->
              </div>
              <div class="d-31__top-swiper swiper d-31__top-swiper_mySwiper3 mySwiper3">
                <button class="d-31__top-buttonAbsolute d-31__top-buttonAbsolute_prev">
                  <div class="d-31__top-button d-31__top-button_prev swiper-button-prev arrowNav-btn arrowNav-btn_prev"></div>
                </button>
                <ul class="swiper-wrapper d-31__top-list">
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-320px-1.png" alt="Модал img">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-1.jpg"  alt="Модал img">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-2.png" alt="фото с передней стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-2.jpg"  alt="фото с передней стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-3.png" alt="фото с боковой стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-3.jpg" alt="фото с боковой стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа -->
                    <img class="d-31__top-img" src="./img/d31-divan-4.png" alt="фото с задней стороны дивана">
                    <!-- Для codepen
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-4.jpg" alt="фото с задней стороны дивана">-->
                  </li>
                  <li class="swiper-slide d-31__top-item">
                    <!-- Для компа-->
                    <img class="d-31__top-img" src="./img/d31-divan-5.png" alt="фото с раскладного вида дивана">
                    <!-- Для codepen 
                    <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-5.jpg" alt="фото с раскладного вида дивана">-->
                  </li>
                </ul>         
                <button class="d-31__top-buttonAbsolute d-31__top-buttonAbsolute_next"> 
                  <div class="d-31__top-button d-31__top-button_next swiper-button-next arrowNav-btn arrowNav-btn_next"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-31__top-swiper swiper d-31__top-swiper_mySwiper mySwiper">
        <ul class="swiper-wrapper d-31__top-list">
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-320px-1.png" alt="Модал img">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-1.jpg" alt="Модал img">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-2.png" alt="фото с передней стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-2.jpg"  alt="фото с передней стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-3.png" alt="фото с боковой стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-3.jpg" alt="фото с боковой стороны дивана>-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа -->
            <img class="d-31__top-img" src="./img/d31-divan-4.png" alt="фото с задней стороны дивана">
            <!-- Для codepen
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-4.jpg" alt="фото с задней стороны дивана">-->
          </li>
          <li class="swiper-slide d-31__top-item">
            <!-- Для компа-->
            <img class="d-31__top-img" src="./img/d31-divan-5.png" alt="фото с раскладного вида дивана">
            <!-- Для codepen 
            <img class="d-31__top-img" src="https://swiperjs.com/demos/images/nature-5.jpg" alt="фото с раскладного вида дивана>-->
          </li>
        </ul>
      </div>
      <div class="d-31__top-descr">
        <span class="d-31__top-asterisk">
          <svg width="16" height="15">
            <use xlink:href="img/sprite.svg#asterisk"></use>
          </svg>
          4,8
        </span>
        <h2 class="d-31__top-h2 h2">
          Диван тканевый прямой “D-31”
        </h2>
        <span class="d-31__top-text">
          Мини 120 см без ящика Stark синий (Рогожка)
        </span>
        <span class="d-31__top-price">
          28 490 руб
        </span>
        <button class="d-31__top-btn btn modalBtn-js" data-modal-trigger="trigger-2" aria-label="Нажмите чтобы Купить">Купить в один клик</button>
        <!--модалка "Купить в один клик"-->
        <div class="d-31__top-modal modal" data-modal="trigger-2">
          <div class="d-31__top-modal-wrap-kup modal-wrap">
            <div class="d-31__top-modal-container-kup modal-container">
              <button class="d-31__top-modal-close modal-close modal-close-btn" title="Закрыть">&#10006;</button>
              <h2 class="d-31__top-modal-h2 h2">
                Купить в один клик
              </h2>
              <p class="d-31__top-modal-desrc desrc">
                Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.
              </p>
              <form class="d-31__form-form d-31__form-form_js   form-disabled" action="mail.php" method="POST"
                enctype="multipart/form-data" aria-label="Здесь вы можете заказать обратный звонок">
                <input type="hidden" name="admin_email[]" value="darki@yandex.ru">
                <input type="hidden" name="form_subject" value="Заявка с сайта SitDownPls-d-31-Gulp">
                <!-- data здесь он обрабатывает плагин валидатор кода -->
                <label class="d-31__form-label" for="name">
                  <input class="d-31__form-input name-input" type="text" placeholder="Как вас зовут?"
                    data-validate-field="name" name="name" id="name" required aria-label="Введите ваше имя">
                </label>
                <label class="d-31__form-label" for="tel">
                  <input class="d-31__form-input phone-input" type="tel" placeholder="Ваш телефон"
                    data-validate-field="tel" data-validate-rules="phone" name="tel" id="tel"
                    aria-label="Введите ваш телефон">
                </label>
                <button class="d-31__form-btn btn d-31__form-btn_jsDis d-31__form-btn_filled"
                  aria-label="Нажмите чтобы отправить">
                  Отправить
                </button>
                <div class="d-31__form-checkbox-container">
                  <input
                    class="d-31__form-input-checkbox input-checkbox click-checkbox-js checkbox-js    checkbox-jsDis"
                    id="checkbox" type="checkbox" checked="checked"
                    aria-label="Нажмите если принимаете пользовательское соглашение" required
                    data-validate-field="checkbox">
                  <label class="d-31__form-label d-31__form-label-checkbox d-31__form-input-checkbox"
                    for="checkbox">
                    Принимаю&nbsp;
                  </label>
                  <a class="d-31__form-link modalBtn-js" href="#" data-modal-trigger="trigger-4"
                    aria-label="Нажмите чтобы прочитать пользовательское соглашение">пользовательское
                    соглашение</a>
                </div>
              </form>
            </div>
          </div><!--modal-wrap-->
        </div>
        <div class="d-31__top-slonik modal-slonik d-31__top-slonik_js ">
          <div class="d-31__top-slonik-sps modal-slonik-sps d-31__top-slonik-sps_js">
            <button class="d-31__top-modal-close modal-close d-31__top-modal-close_js" title="Закрыть">
              &#10006;
            </button>
            <div class="d-31__top-elephant-png"></div>
            <h2 class="d-31__top-modal-h2 d-31__top-modal-h2_elephant320 h2">
              Спасибо, мы вам перезвоним!
            </h2>
          </div>
        </div><!--d-31__top-slonik-->
        <button class="d-31__top-btnplus" aria-label="Нажмите Добавить в корзину">+ Добавить в корзину</button>
      </div>
      <div class="d-31__top-modal modal" data-modal="trigger-4">
        <div class="d-31__top-modal-wrap-pol modal-wrap">
          <div class="d-31__top-modal-container-pol modal-container" data-simplebar>
            <button class="d-31__top-modal-close modal-close" title="Закрыть">&#10006;</button>
            <h2 class="d-31__top-modal-h2 h2">
              ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
            </h2>
            <p>1. Основные понятия.</p>
            <p>1.1. Интернет-магазин — интернет-сайт, расположенный по адресу: <del>(ссылка)</del> на котором
              представлены Товары, предлагаемые Продавцом для приобретения и все связанные с ним поддомены;</p>
            <p>1.2. Посетитель Интернет-магазина — лицо, пришедшее на сайт Интернет-магазина без цели размещения
              Заказа;
            </p>
            <p>2. Общие положения.</p>
            <p>2.1. Продавец осуществляет продажу Товаров через Интернет-магазин.</p>
            <p>2.2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями, изложенными
              ниже. В
              случае несогласия с условиями, изложенными в настоящем Пользовательском соглашении (далее —
              Соглашение или
              Публичная оферта) Пользователь обязан немедленно прекратить использование сервиса и покинуть
              Интернет-магазин.</p>
          </div>
        </div>
      </div>
    </div><!--d-31__top -->
    <div class="d-31__bottom">
      <div class="d-31__bottom-description">
        <h3 class="d-31__bottom-h3 h3">
          Опорный механизм
        </h3>
        <p class="d-31__bottom-desrc d-31__bottom-desrc_bottom desrc">
          Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного
          дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места.
          Заключительный штрих&nbsp;&mdash; опустить спинку.
        </p>
        <p class="d-31__bottom-desrc desrc">
          Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы
          разложить диван, но&nbsp;подросток справится.
        </p>
      </div><!--d-31__bottom-description-->
      <div class="d-31__bottom-characteristic">
        <ul class="d-31__bottom-list">
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Гарантия</span>
            </span>
            <span class="d-31__bottom-info">18 месяцев</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Артикул</span>
            </span>
            <span class="d-31__bottom-info">ААА41269004</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Длина</span>
            </span>
            <span class="d-31__bottom-info">163 см</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Высота</span>
            </span>
            <span class="d-31__bottom-info">90 см</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Глубина</span>
            </span>
            <span class="d-31__bottom-info">108 см</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Спальное место</span>
            </span>
            <span class="d-31__bottom-info">200 см х 125 см</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Высота посадки</span>
            </span>
            <span class="d-31__bottom-info">45 см</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Механизм</span>
            </span>
            <span class="d-31__bottom-info">Опорный</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Тип обивки</span>
            </span>
            <span class="d-31__bottom-info">Рогожка</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Цвет</span>
            </span>
            <span class="d-31__bottom-info">Синий</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Наполнитель</span>
            </span>
            <span class="d-31__bottom-info">Независимый пружинный блок</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Материал каркаса</span>
            </span>
            <span class="d-31__bottom-info">Металл.рама с дерев.латами</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Количество мест</span>
            </span>
            <span class="d-31__bottom-info">Двухместные</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Категория</span>
            </span>
            <span class="d-31__bottom-info">Прямые тканевые диваны</span>
          </li>
          <li class="d-31__bottom-item">
            <span class="d-31__bottom-chapter">
              <span>Возврат</span>
            </span>
            <span class="d-31__bottom-info">Условия</span>
          </li>
        </ul>
      </div>
    </div><!--d-31__bottom-->
  </div><!-- d-31__container -->
</section>