<section class="divan">
  <div class="container divan__container">
    <h2 class="divan__title h2">Высокий рейтинг</h2>
    <ul class="divan__list divan__list_js product-list">
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              5,0
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan1-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan1-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan1-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan1-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div> 
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван кожаный">Диван кожаный
                  <span>“R-94”</span>
                </a>
              </h4>                  
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">94 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div> 
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,9
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan2-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan2-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan2-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan2-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван апартековый">Диван апартековый
                  <span>“T-75”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">69 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>                    
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,8
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan3-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan3-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan3-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan3-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="d-31.html" aria-label="Ссылка на Диван тканевый">Диван тканевый
                  <span>“D-31”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">28 490 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button> 
            </div>                 
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,8
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan4-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan4-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan4-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan4-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван велюровый">Диван велюровый
                  <span>“Y-68”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">22 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,8
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan5-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan5-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan5-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan5-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван шинила">Диван из шинила
                  <span>“W-95”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">22 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,8
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan6-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan6-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan6-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan6-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван флоковый">Диван флоковый
                  <span>“G-41”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">17 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,8
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan7-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan7-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan7-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan7-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван шиниловый">Диван шиниловый
                  <span>“V-43”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">19 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
            4,7
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan8-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan8-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan8-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan8-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван велюровый">Диван велюровый
                  <span>“S-99”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">19 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,7
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan9-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan9-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan9-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan9-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван из кожзама">Диван из кожзама
                  <span>“F-85”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">26 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan10-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan10-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan10-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan10-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван флоковый">Диван флоковый
                  <span>“H-64”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">25 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
            4,6
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan11-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan11-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan11-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan11-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван флоковый">Диван флоковый
                  <span>“H-58”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">23 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
      <li class="divan__item divan__item_js product-item">
        <article class="divan__article product-article">
          <div class="divan__position product-position"><!--Блок не удалять-->
            <span class="divan__asterisk product-asterisk">
              <svg width="16" height="15">
                <use xlink:href="img/sprite.svg#asterisk"></use>
              </svg>
              4,6
            </span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/divan12-320.png" media="(max-width: 580px)">
              <source srcset="./img/divan12-768.png" media="(max-width: 999px)">
              <source srcset="./img/divan12-1024.png" media="(max-width: 1385px)">
              <img class="divan__image" src="./img/divan12-1920.png" alt="Картина">
            </picture>
            <!--<img src="https://mebelsz.ru/d/480_4.jpg" alt="Картина"> Для codepen-->
          </div>
          <div class="divan__info product-info">
            <div class="divan__block product-block"><!--<-Блок для выравнивание текста-->
              <h4 class="divan__h4 product-text">
                <a class="divan__h4-link product-text-link" href="#" aria-label="Ссылка на Диван из кожзама">Диван из кожзама
                  <span>“R-43”</span>
                </a>
              </h4>
            </div>
            <div class="divan__block-span product-block-span">
              <span class="divan__span divan__span_dustyGray product-span">33 990 руб</span>
              <button class="divan__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="divan__btn btn divan__btn_moreJs" aria-label="Нажмите чтобы посмотреть больше товаров">
      Смотреть больше товаров
    </button>
  </div>
</section>