<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container-top">
      <div class="footer__log-resources">
        <a class="footer__logo" href="#">
          <img class="footer__logo-img" src="img/logo.png" alt="Логотип SitDownPls">
        </a>
        <nav class="footer__nav-icone">
          <ul class="footer__list-icone">
            <li class="footer__item-icone">
              <a href="https://www.facebook.com/" class="footer__link-icone" target="blank" aria-label="facebook">
                <svg width="38" height="38">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item-icone">
              <a href="https://vk.com/" class="footer__link-icone" target="blank" aria-label="ВКонтакт">
                <svg width="38" height="38">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item-icone">
              <a href="https://www.instagram.com/" class="footer__link-icone" target="blank" aria-label="instagram">
                <svg width="38" height="38">
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <nav class="footer__nav-navigation">
        <ul class="footer__list-navigation">
          <li class="footer__item-navigation">О нас</li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">О компании</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Блог</a>
          </li>
        </ul>
        <ul class="footer__list-navigation">
          <li class="footer__item-navigation">Услуги</li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Доставка</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Рассрочка и кредит</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Сборка и установка</a>
          </li>
        </ul>
        <ul class="footer__list-navigation">
          <li class="footer__item-navigation">Связь с нами</li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Обратная связь</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Контакты</a>
          </li>
        </ul>
        <ul class="footer__list-navigation">
          <li class="footer__item-navigation">Сотрудничество</li>
          <li class="footer__item-navigation">
            <a href="partnership.html" aria-label="Ссылка на Поставщиков" class="footer__link-navigation">Поставщикам</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Оптовикам</a>
          </li>
          <li class="footer__item-navigation">
            <a href="#" class="footer__link-navigation">Карьера</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__container-bottom">
      <span class="footer__bottom-text">SDP<sup class="footer__sup">&reg;</sup> 2011-2021</span>
    </div>
  </div>
</footer>