<section class="hero">
  <div class="hero__container">
    <div class="hero__slider swiper">
    <div class="hero__slider__wrapper swiper-wrapper">
      <div class="hero__photo hero__photo--1 swiper-slide">
      <div class="container hero__block-container">
        <div class="hero__padding">
          <h2 class="hero__title h2">Скидка 15%
            <span class="hero__span-nowrap">на первую покупку</span>
          </h2>
        <button class="hero__btn hero__btn_none580 btn" aria-label="Нажмите чтобы получить">Получить!</button>
        </div>
      </div>
      </div>
      <div class="hero__photo hero__photo--2 swiper-slide">
      <div class="container hero__block-container">
        <div class="hero__padding">
        <h2 class="hero__title h2">1000+ аксессуаров для дома</h2>
        <button class="hero__btn hero__btn_none580 btn" aria-label="Нажмите чтобы получить">Получить!</button>
        </div>
      </div>
      </div>
      <div class="hero__photo hero__photo--3 swiper-slide">
      <div class="container hero__block-container">
        <div class="hero__padding">
        <h2 class="hero__title h2">Коллекция стильного и яркого текстиля</h2>
        <button class="hero__btn hero__btn_none580 btn" aria-label="Нажмите чтобы получить">Получить!</button>
        </div>
      </div>
      </div>
    </div>
    <div class="hero__pagination swiper-pagination"></div>
    </div>
    <button class="hero__btn-none1920 btn" aria-label="Нажмите чтобы получить">Получить!</button>
  </div><!-- hero__container -->
</section>