<section class="offer">
  <div class="container offer__container">
    <!-- <div class="offer__swiper"> -->
      <h2 class="offer__title h2">Специальные предложения</h2>
      <div class="offer__navigation">
        <button class="offer__btn offer__btn_prev arrowNav-btn arrowNav-btn_prev" tabindex="0" aria-label="Prev slide" aria-disabled="false"></button>
        <button class="offer__btn offer__btn_next arrowNav-btn arrowNav-btn_next" tabindex="0" aria-label="Next slide" aria-disabled="false"></button>             
      </div>
      <div class="offer__swiper-container swiper">
        <ul class="offer__swiper-wrapper swiper-wrapper">
          <li class="swiper-slide offer__item offer__item_small">
            <span class="offer__ribbon">- 9 000</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer1-320.png" media="(max-width: 580px)">
              <source srcset="./img/offer1-768.png" media="(max-width: 999px)">
              <source srcset="./img/offer1-1024.png" media="(max-width: 1385px)">
              <img class="offer__image" src="./img/offer1-1920.png" alt="Кресло велюровое">
            </picture>
            <!--<img class="offer__image offer-modal" src="https://assets-a2.kompasiana.com/items/album/2015/09/19/welfare-55fd3d75169373ba0965e417.jpg?t=o&v=350" alt=""> Для codepen-->
            <div class="offer__info">
              <div class="offer__block">
                <!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Кресло велюровое">Кресло велюровое
                    <span>“X-24”</span>
                  </a>
                </h4>
                <div class="offer__block-span">
                  <span class="offer__span offer__span_crusta">15 990 руб</span>
                  <span class="offer__span offer__span_dustyGray">24 990 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </li>
          <li class="swiper-slide offer__item offer__item_big">
            <span class="offer__ribbon">- 10 000</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer2-320.png" media="(max-width: 580px)">
              <source srcset="./img/offer2-768.png" media="(max-width: 999px)">
              <source srcset="./img/offer2-1024.png" media="(max-width: 1385px)">
              <img class="offer__image offer__image_big768" src="./img/offer2-1920.png" alt="Диван тканевый">
            </picture>
            <!--<img class="offer__image offer__image_big768 offer-modal" src="https://jooinn.com/images350_/wild-monkey-6.jpg" alt="Диван тканевый"> Для codepen-->
            <div class="offer__info">
              <div class="offer__block">
                <!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Диван тканевый">Диван тканевый
                    <span>“Z-44”</span>
                  </a>
                </h4>
                <div class="offer__block-span offer__block-span_big768">
                  <span class="offer__span offer__span_crusta">22 990 руб</span>
                  <span class="offer__span offer__span_dustyGray">32 990 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
              <div class="offer__scheme offer__scheme_2"></div>
            </div>
          </li>
          <li class="swiper-slide offer__item offer__item_small offer__item_padding65">
            <span class="offer__ribbon">- 600</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer3-320.png" media="(max-width: 580px)">
              <img class="offer__image" src="./img/offer3-1920.png" alt="Будильник">
            </picture>
            <!--<img class="offer__image offer-modal" src="https://w0.pngwave.com/png/703/141/animation-black-and-white-man-cartoon-avatar-png-clip-art-thumbnail.png" alt="Будильник">  Для codepen-->
            <div class="offer__info">
              <div class="offer__block">
                <!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Будильник">Будильник
                    <span>“Quartz-23”</span>
                  </a>
                </h4>
                <div class="offer__block-span">
                  <span class="offer__span offer__span_crusta">1 290 руб</span>
                  <span class="offer__span offer__span_dustyGray">1 890 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </li>
          <li class="swiper-slide offer__item offer__item_small">
            <span class="offer__ribbon">- 300</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer4-320.png" media="(max-width: 580px)">
              <img class="offer__image" src="./img/offer4-1920.png" alt="Мини-скульптура">
            </picture>
            <!--<img class="offer__image offer-modal" src="https://f0.pngfuel.com/png/710/309/ping-pong-paddles-sets-sport-ping-pong-png-clip-art-thumbnail.png" alt="Мини-скульптура"> Для codepen-->
            <div class="offer__info">
              <div class="offer__block">
                <!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Мини-скульптуру">Мини-скульптура
                    <span>“Oh my deer”</span>
                  </a>
                </h4>
                <div class="offer__block-span">
                  <span class="offer__span offer__span_crusta">690 руб</span>
                  <span class="offer__span offer__span_dustyGray">990 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </li>
          <li class="swiper-slide offer__item offer__item_big offer__item_padding58">
            <span class="offer__ribbon">- 10 000</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer5-320.png" media="(max-width: 580px)">
              <img class="offer__image" src="./img/offer5-1920.png" alt="Диван вел-флок">
            </picture>
            <!--<img class="offer__image offer-modal" src="https://f0.pngfuel.com/png/443/191/sky-blue-green-club-penguin-101-dalmatiens-2-png-clip-art-thumbnail.png" alt="Диван вел-флок">Для codepen-->
            <div class="offer__info">
              <div class="offer__block"><!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Диван вел-флок">Диван вел-флок
                    <span>“Z-85”</span>
                  </a>
                </h4>
                <div class="offer__block-span">
                  <span class="offer__span offer__span_crusta">22 990 руб</span>
                  <span class="offer__span offer__span_dustyGray">32 990 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
              <div class="offer__scheme offer__scheme_5"></div>
            </div>
          </li>
          <li class="swiper-slide offer__item offer__item_small offer__item_padding6">
            <span class="offer__ribbon">- 700</span>
            <!--Для компа-->
            <picture>
              <source srcset="./img/offer6-320.png" media="(max-width: 580px)">
              <img class="offer__image" src="./img/offer6-1920.png" alt="Термометр + гидрометр">
            </picture>
            <!--<img class="offer__image offer-modal" src="https://w0.pngwave.com/png/533/795/chibi-drawing-anime-mangaka-anime-couple-png-clip-art-thumbnail.png" alt="Термометр + гидрометр">Для codepen-->
            <div class="offer__info">
              <div class="offer__block">
                <!--<-Блок для выравнивание текста-->
                <h4 class="offer__h4">
                  <a class="offer__link-h4" href="#" aria-label="Ссылка на Термометр +">Термометр +
                    <span>гидрометр “H-18”</span>
                  </a>
                </h4>
                <div class="offer__block-span">
                  <span class="offer__span offer__span_crusta">1 390 руб</span>
                  <span class="offer__span offer__span_dustyGray">2 090 руб</span>
                </div>
              </div>
              <button class="offer__button btn" aria-label="Нажмите чтобы купить">Купить</button>
            </div>
          </li>
        </ul>
      </div>
    <!-- </div> -->
  </div><!--Конец offer__container-->
</section>