<div class="links">
  <div class="container links__container">
    <h2 class="visually-hidden">Я для семантики</h2>
    <ul class="links__list">
      <li class="links__item">
        <a class="links__link" href="index.html" aria-label="Ссылка на гавную страницу">Главная</a>
      </li>
      <li class="links__item">
        <a class="links__link active-link" href="partnership.html"  aria-label="Ссылка на Сотрудничество">Сотрудничество</a>
      </li>
    </ul>
  </div>
</div>
<section class="partnership">
  <div class="container partnership__container">
    <h2 class="partnership__h2 h2">
      Сотрудничество
    </h2>
    <div class="partnership__provider">
      <h3 class="partnership__h3 h3">
        Поставщикам
      </h3>
      <p class="partnership__desrc desrc">
        При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.
      </p>
    </div>
    <div class="partnership__cooperation">
      <h3 class="partnership__h3 h3">
        Что вы получаете?
      </h3>
      <ul class="partnership__cooperation-list">
        <li class="partnership__cooperation-item partnership__cooperation-item_1">
          Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
        </li>
        <li class="partnership__cooperation-item partnership__cooperation-item_2">
          Комплексное решение для красивого и функционального обустройства любых пространств. 
        </li>
        <li class="partnership__cooperation-item partnership__cooperation-item_3">
          В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
        </li>
      </ul>
    </div>
    <div class="partnership__advantages">
      <h3 class="partnership__h3 partnership__h3_320size h3">
        Ваши преимущества от сотрудничества
      </h3>
      <div class="partnership__advantages-content">
        <span class="partnership__advantages-span">
          Возможность 1:
        </span>
        <p class="partnership__advantages-desrc desrc">
          Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
        </p>
      </div>
      <div class="partnership__advantages-content">
        <span class="partnership__advantages-span">
          Возможность 2:
        </span>
        <p class="partnership__advantages-desrc desrc">
          Мы&nbsp;предлагаем застройщикам, работающим на&nbsp;территории&nbsp;РФ, участие наших специалистов от&nbsp;этапа проектирования обстановки квартир и&nbsp;подбора комплексных интерьерных решений до&nbsp;оптовых поставок мебели. Поможем организовать демонстрационный зал с&nbsp;образцами изделий и&nbsp;материалов на&nbsp;площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
        </p>
      </div>
    </div>
    <div class="partnership__proof">
      <h3 class="partnership__h3 h3">
        Гарантии
      </h3>
      <ol class="partnership__proof-list">
        <li class="partnership__proof-item">
          При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
        </li>
        <li class="partnership__proof-item">
          На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
        </li>
        <li class="partnership__proof-item">
          Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
        </li>
      </ol>
    </div>
    <div class="partnership__security">
      <img class="partnership__security-image" src="./img/pencil.png" alt="Карандаш">
      <span class="partnership__security-span">
        Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
      </span>
    </div>
  </div><!-- partnership__container -->
</section>