<section class="product">
  <div class="product__container container">
    <div class="product__swiper">
      <h2 class="product__title-h2 h2">
        Похожие товары
      </h2>
      <div class="product__swiper-container swiper">
        <ul class="product__swiper-wraper swiper-wrapper product-list">
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position">
                <!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,5
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan2st4-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan2st4-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan2st4-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan2st4-1920.png" alt="Картина Диван велюровый R-85">
                </picture>
                <!--<img class="product__image" src="https://imodern.ru/upload/iblock/2d4/2d44bc8421d592a0235934524502750d.jpg" alt="Картина Диван велюровый R-85"> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван велюровый">Диван велюровый
                      <span>“R-85”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">34 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position"><!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,6
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan11-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan11-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan11-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan11-1920.png" alt="Картина Диван флоковый H-58">
                </picture>
                <!--<img class="product__image" src="https://img.inmyroom.ru/inmyroom/resize/1400x1400/jpg:85/uploads/photo/file/2c/2c20/jpg_2000_2c202646-44c6-4536-bbda-089d29a83c81.jpg?sign=a630e2e406f2dc2b27230e8d29c10823f50bb9363f5b07b85ffc7d12c98f1507" alt="Картина Диван флоковый H-58"> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван флоковый">Диван флоковый
                      <span>“H-58”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">23 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position">
                <!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,5
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan2st5-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan2st5-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan2st5-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan2st5-1920.png" alt="Картина Диван велюровый S-44">
                </picture>
                <!--<img class="product__image" src="https://assets-a2.kompasiana.com/items/album/2015/09/19/welfare-55fd3d75169373ba0965e417.jpg?t=o&v=350" alt="Картина Диван велюровый S-44"> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван велюровый S-44">Диван
                      велюровый
                      <span>“S-44”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">19 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position">
                <!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,8
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan7-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan7-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan7-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan7-1920.png" alt="Картина Диван шиниловый V-43">
                </picture>
                <!--<img class="product__image" src="https://www.slavstol.ru/images/pages/271/start.jpg" alt="Картина Диван шиниловый V-43""> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван шиниловый V-43">Диван
                      шиниловый
                      <span>“V-43”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">34 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position">
                <!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,8
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan4-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan4-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan4-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan4-1920.png" alt="Картина Диван велюровый Y-68">
                </picture>
                <!--<img class="product__image" src="https://assets-a2.kompasiana.com/items/album/2015/09/19/welfare-55fd3d75169373ba0965e417.jpg?t=o&v=350" alt="Картина Диван велюровый Y-68"> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван велюровый S-44">Диван
                      велюровый
                      <span>“Y-68”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">22 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="swiper-slide product__item product-item">
            <article class="product__article product-article">
              <div class="product__position product-position">
                <!--Блок не удалять-->
                <span class="product__asterisk product-asterisk">
                  <svg width="16" height="15">
                    <use xlink:href="img/sprite.svg#asterisk"></use>
                  </svg>
                  4,6
                </span>
                <!--Для компа-->
                <picture>
                  <source srcset="./img/divan10-320.png" media="(max-width: 580px)">
                  <source srcset="./img/divan10-768.png" media="(max-width: 999px)">
                  <source srcset="./img/divan10-1024.png" media="(max-width: 1385px)">
                  <img class="product__image" src="./img/divan10-1920.png" alt="Картина Диван флоковый H-64">
                </picture>
                <!--<img class="product__image" src="https://assets-a2.kompasiana.com/items/album/2015/09/19/welfare-55fd3d75169373ba0965e417.jpg?t=o&v=350" alt="Картина Диван флоковый H-64""> Для codepen-->
              </div>
              <div class="product__info product-info">
                <div class="product__block product-block"><!--<-Блок для выравнивание текста-->
                  <h3 class="product__title-h3 h3 product-text">
                    <a class="product__h3-link product-text-link" href="#" aria-label="Ссылка на Диван флоковый V-43">Диван флоковый
                      <span>“H-64”</span>
                    </a>
                  </h3>
                  <div class="product__block-span product-block-span">
                    <span class="product__span product-span">25 990 руб</span>
                    <button class="product__button btn product-btn" aria-label="Нажмите чтобы купить">Купить</button>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="product__navigation-block320"><!--для центрирование навигации в экране 320рх-->
        <div class="product__navigation navigation">
          <button class="product__btn product__btn_prev arrowNav-btn arrowNav-btn_prev" tabindex="0" aria-label="Prev slide" aria-disabled="false"></button>
          <button class="product__btn product__btn_next arrowNav-btn arrowNav-btn_next" tabindex="0" aria-label="Next slide" aria-disabled="false"></button>
        </div>
      </div>
    </div>
  </div><!-- product__container -->
</section>