<section class="top">
  <div class="container top__container">
    <h2 class="top__title-h2 h2">Топ категории</h2>
    <ul class="top__list">
      <li class="top__item">
        <div class="top__sub">
          <ul class="top__sublist">
            <li class="top__subitem">
              <a href="#" class="top__sublink">Прямые</a>
            </li>
            <li class="top__subitem">
              <a href="#" class="top__sublink">Угловые</a>
            </li>
            <li class="top__subitem">
              <a href="#" class="top__sublink">Модульные</a>
            </li>
          </ul>
          <h3 class="top__title-h3 h3">Диваны
            <a class="top__link top__link_320 link-card" href="#">                  
            <span class="top__arrow arrow-card">&#8250;</span>
            </a>
          </h3>
          <picture>
            <source srcset="./img/top1-320.png" media="(max-width: 580px)">
            <source srcset="./img/top1-768.png" media="(max-width: 999px)">
            <source srcset="./img/top1-1024.png" media="(max-width: 1385px)">
            <img class="top__img" src="./img/top1-1920.png" alt="Картина диван">
          </picture>
          <a class="top__link top__link_1920 link-card" href="catalog.html" target="_blank" aria-label="В каталог">
            <span class="top__text text-card"> В каталог </span>
            <span class="top__arrow arrow-card">&#8250;</span>
          </a>
        </div>	
      </li>
      <li class="top__item">
        <div class="top__sub">
          <ul class="top__sublist">
            <li class="top__subitem">
            <a href="#" class="top__sublink">Мягкие</a>
            </li>
            <li class="top__subitem">
            <a href="#" class="top__sublink">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="top__title-h3 h3">Кресла
            <a class="top__link top__link_320 link-card" href="#">                  
            <span class="top__arrow arrow-card">&#8250;</span>
            </a>
          </h3>
          <picture>
            <source srcset="./img/top2-320.png" media="(max-width: 580px)">
            <source srcset="./img/top2-768.png" media="(max-width: 999px)">
            <source srcset="./img/top2-1024.png" media="(max-width: 1385px)">
            <img class="top__img" src="./img/top2-1920.png" alt="Картина кресла">
          </picture>
          <a class="top__link top__link_1920 link-card" href="catalog.html" target="_blank" aria-label="В каталог">
            <span class="top__text text-card"> В каталог </span>
            <span class="top__arrow arrow-card">&#8250;</span>
          </a>
        </div>	
      </li>
      <li class="top__item">
        <div class="top__sub">
          <ul class="top__sublist">
            <li class="top__subitem">
            <a href="#" class="top__sublink">Односпальные</a>
            </li>
            <li class="top__subitem">
            <a href="#" class="top__sublink">Двуспальные</a>
            </li>
          </ul>
          <h3 class="top__title-h3 h3">Кровати
            <a class="top__link top__link_320 link-card" href="#">                  
            <span class="top__arrow arrow-card">&#8250;</span>
            </a>
          </h3>
          <picture>
            <source srcset="./img/top3-320.png" media="(max-width: 580px)">
            <source srcset="./img/top3-768.png" media="(max-width: 999px)">
            <source srcset="./img/top3-1024.png" media="(max-width: 1385px)">
            <img class="top__img" src="./img/top3-1920.png" alt="Картина кровати">
          </picture>
          <a class="top__link top__link_1920 link-card" href="catalog.html" target="_blank" aria-label="В каталог">
            <span class="top__text text-card"> В каталог </span>
            <span class="top__arrow arrow-card">&#8250;</span>
          </a>
        </div>	
      </li>
      <li class="top__item">
        <div class="top__sub">
          <ul class="top__sublist">
            <li class="top__subitem">
            <a href="#" class="top__sublink">Тумбы</a>
            </li>
            <li class="top__subitem">
            <a href="#" class="top__sublink">Комоды</a>
            </li>
          </ul>
          <h3 class="top__title-h3 h3">Тумбы 
            <span>и комоды
              <a class="top__link top__link_320 link-card" href="#">                  
              <span class="top__arrow arrow-card">&#8250;</span>
              </a>
            </span>
          </h3>
          <picture>
            <source srcset="./img/top4-320.png" media="(max-width: 580px)">
            <source srcset="./img/top4-768.png" media="(max-width: 999px)">
            <source srcset="./img/top4-1024.png" media="(max-width: 1385px)">
            <img class="top__img" src="./img/top4-1920.png" alt="Картина тумбы и комоды">
          </picture>
          <a class="top__link top__link_1920 link-card" href="catalog.html" target="_blank" aria-label="В каталог">
            <span class="top__text text-card"> В каталог </span>
            <span class="top__arrow arrow-card">&#8250;</span>
          </a>
        </div>	
      </li>
      <li class="top__item">
        <div class="top__sub">
          <ul class="top__sublist">
            <li class="top__subitem">
            <a href="#" class="top__sublink">Деревянные</a>
            </li>
            <li class="top__subitem">
            <a href="#" class="top__sublink">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="top__title-h3 h3">Стулья
            <a class="top__link top__link_320 link-card" href="#">                  
            <span class="top__arrow arrow-card">&#8250;</span>
            </a>
          </h3>
          <picture>
            <source srcset="./img/top5-320.png" media="(max-width: 580px)">
            <source srcset="./img/top5-768.png" media="(max-width: 999px)">
            <source srcset="./img/top5-1024.png" media="(max-width: 1385px)">
            <img class="top__img" src="./img/top5-1920.png" alt="Картина стулья">
          </picture>
          <a class="top__link top__link_1920 link-card" href="catalog.html" target="_blank" aria-label="В каталог">
            <span class="top__text text-card"> В каталог </span>
            <span class="top__arrow arrow-card">&#8250;</span>
          </a>
        </div>	
      </li>
    </ul>
  </div>
</section>