<section class="useful">
  <div class="container useful__container">
    <div class="useful__swiper">
      <h2 class="useful__title h2">Полезное</h2>            
      <div class="useful__swiper-container swiper">
        <ul class="useful__swiper-wrapper swiper-wrapper">
          <li class="swiper-slide useful__item">
            <picture>
              <source srcset="./img/useful1-320.jpg" media="(max-width: 580px)">
              <source srcset="./img/useful1-768.jpg" media="(max-width: 999px)">
              <source srcset="./img/useful1-1024.jpg" media="(max-width: 1385px)">
              <img class="useful__image" src="./img/useful1-1920.jpg" alt="Фото-1">
            </picture>
            <div class="useful__info">
              <div class="useful__block"><!--<-Блок для выравнивание текста-->
                <p class="useful__desrc desrc">
                  И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?
                </p>
              </div>
              <a class="useful__link btn" aria-label="Нажмите чтобы прочитать статью">Читать</a>
            </div>
          </li>
          <li class="swiper-slide useful__item">
            <picture>
              <source srcset="./img/useful2-320.jpg" media="(max-width: 580px)">
              <source srcset="./img/useful2-768.jpg" media="(max-width: 999px)">
              <source srcset="./img/useful2-1024.jpg" media="(max-width: 1385px)">
              <img class="useful__image" src="./img/useful2-1920.jpg" alt="Фото-2">
            </picture>
            <div class="useful__info">
              <div class="useful__block"><!--<-Блок для выравнивание текста-->
                <p class="useful__desrc desrc">
                  Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                </p>
              </div>
              <a class="useful__link btn" aria-label="Нажмите чтобы прочитать статью">Читать</a>
            </div>
          </li>
          <li class="swiper-slide useful__item">
            <picture>
              <source srcset="./img/useful3-320.jpg" media="(max-width: 580px)">
              <source srcset="./img/useful3-768.jpg" media="(max-width: 999px)">
              <source srcset="./img/useful3-1024.jpg" media="(max-width: 1385px)">
              <img class="useful__image" src="./img/useful3-1920.jpg" alt="Фото-3">
            </picture>
            <div class="useful__info">
              <div class="useful__block"><!--<-Блок для выравнивание текста-->
                <p class="useful__desrc desrc">
                  Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?
                </p>
              </div>
              <a class="useful__link btn" aria-label="Нажмите чтобы прочитать статью">Читать</a>
            </div>
          </li>
          <li class="swiper-slide useful__item">
            <picture>
              <source srcset="./img/useful4-320.jpg" media="(max-width: 580px)">
              <source srcset="./img/useful4-768.jpg" media="(max-width: 999px)">
              <source srcset="./img/useful4-1024.jpg" media="(max-width: 1385px)">
              <img class="useful__image" src="./img/useful4-1920.jpg" alt="Фото-4">
            </picture>
            <div class="useful__info">
              <div class="useful__block"><!--<-Блок для выравнивание текста-->
                <p class="useful__desrc desrc">
                  Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?
                </p>
              </div>
              <a class="useful__link btn" aria-label="Нажмите чтобы прочитать статью">Читать</a>
            </div>
          </li>
          <li class="swiper-slide useful__item">
            <picture>
              <source srcset="./img/useful5-320.jpg" media="(max-width: 580px)">
              <source srcset="./img/useful5-768.jpg" media="(max-width: 999px)">
              <source srcset="./img/useful5-1024.jpg" media="(max-width: 1385px)">
              <img class="useful__image" src="./img/useful5-1920.jpg" alt="Фото-5">
            </picture>
            <div class="useful__info">
              <div class="useful__block"><!--<-Блок для выравнивание текста-->
                <p class="useful__desrc desrc">
                  Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                </p>
              </div>
              <a class="useful__link btn" aria-label="Нажмите чтобы прочитать статью">Читать</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="useful__navigation-block320"><!--для центрирование навигации в экране 320рх-->
        <div class="useful__navigation navigation">
          <button class="useful__btn useful__btn_prev arrowNav-btn arrowNav-btn_prev" tabindex="0" aria-label="Prev slide" aria-disabled="false"></button>
          <button class="useful__btn useful__btn_next arrowNav-btn arrowNav-btn_next" tabindex="0" aria-label="Next slide" aria-disabled="false"></button>
        </div>
      </div> 
    </div>
  </div><!-- useful__container -->
</section>